<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let item of menu |async">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{item.name}}</mat-card-title>
                    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.photo}}">
                <mat-card-content>
                    <p>
                        Cena: {{item.price}} Kč

                        <span *ngIf="item.orderQuantity">
                            Objednávka: {{item.orderQuantity}} ks
                        </span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)="pickSideDish(item)">Objednat</button>
                    <button *ngIf="item.orderQuantity" mat-stroked-button (click)="remove(item.name)">Odstranit
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<app-order-list></app-order-list>