<h1 mat-dialog-title>Změnit pálivost</h1>
<div mat-dialog-content>
    <p>Kuchař podle množností přidá nebo odebere chilli.<br> Není možné pro všechny jídla.</p>
    <p class="flex">
        <button mat-mini-fab color="primary" (click)="heat('-')" [disabled]="chosenHeat < -1">-</button>

        <span>
            Chilli:
            <span *ngIf="chosenHeat === 0">
                dle receptury
            </span>
            <span class="hot" *ngIf="chosenHeat > 0">
                zvýšené
            </span>
            <span class="cold" *ngIf="chosenHeat < 0">
                snížené
            </span>

            (<span *ngIf="chosenHeat > 0">
                +
            </span>
            {{chosenHeat}} )
        </span>

        <button mat-mini-fab color="warn" (click)="heat('+')" [disabled]="chosenHeat > 1">+</button>
    </p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="order()">Objednat</button>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
</div>