<h1 mat-dialog-title>Vyberte si přílohu</h1>


<form [formGroup]="sideForm" (keydown.enter)="onSubmit()">
    <mat-dialog-content>
        <mat-error *ngIf="formSideRadio.invalid && (formSideRadio.dirty || formSideRadio.touched)">Prosím vyberte:
        </mat-error>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="formSideRadio">
            <span *ngFor="let side of sideDishes |async">
                <mat-radio-button class="example-radio-button"
                    *ngIf="(dish.class === 'menu' && side.class === 'menu') || (dish.class !== 'menu' && side.class !== 'menu')"
                    [value]="side">
                    {{side.name}} ({{side.descriptionCZ}}) {{side.priceJH}} Kč
                    <span *ngIf="side.packaging && (showPackaging |async)" class="packing"> + obal {{side.packaging}}
                        Kč</span>

                </mat-radio-button>
            </span>
        </mat-radio-group>
    </mat-dialog-content>
</form>

<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">
        Potvrdit
    </button>
    <button mat-button (click)="checkClose()">
        Zrušit
    </button>
</mat-dialog-actions>