<button class="floatingTopLeft" mat-raised-button color='accent' (click)="sideNavToggle()" [class.under]="!(mobileQuery |async)">
    <mat-icon>menu</mat-icon>
</button>
<mat-sidenav-container autosize>
    <mat-sidenav [opened]="sideNavOpened |async" [mode]="(mobileQuery |async) ? 'over' : 'side'">
        <app-side-menu></app-side-menu>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet></router-outlet>
        <app-order-button></app-order-button>
    </mat-sidenav-content>
</mat-sidenav-container>