.example-container {
    background-image: url("/assets/background2.png");
    background-color: #f2d38f;
}

.example-sidenav {
    background-image: url("/assets/background.png");
    background-color: #f7d66e;
}

.floatingTopLeft {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 999;
    min-width: 30px;
    padding: 0;
}
.under {
    z-index: 1;
}
