.page {
    min-height: 100%;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-item {
    width: 400px;
    margin: 5px;
}

@media (max-width: 370px) {
    .list-item {
        max-width: 350px;
        margin: 5px;
        flex-grow: 1;
    }
}

.mat-card {
    mat-card-title {
        font-weight: 800;
    }

    .mat-card-subtitle {
        color: #000 !important;
        font-size: 0.8em;
        line-height: normal;
    }
}

.tags {
    position: absolute;
    right: -2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    span {
        background-color: #ffd740;
        margin: 5px 0 0 0;
        padding: 1px 5px;
        border-radius: 5px;
    }
}

.prices {
    display: inline-block;
}

.allergen {
    display: inline-block;
}

.mat-card-content {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.mat-card-subtitle,
.mat-card-content {
    margin-bottom: 0 !important;
}

.mat-card-header {
    min-height: 78px;
}
.mat-card-header-text {
    margin: 0 !important;
}

.mat-card-actions {
    padding: 8px !important;
    display: flex !important;
    align-items: baseline;
    .grow {
        flex-grow: 1;
    }
}

.mat-card-image {
    position: relative;
    height: 229px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cl-image, img {
        flex-grow: 1;
        max-width: 100%;
        object-fit: contain;
    }
}

.noPhoto {
    background-color: #eee;
    background-image: url("/assets/background.png");
}

.list .mat-raised-button {
    margin: 0 !important;
}

.packing {
    color: #aaa;
}

.heat {
    position: absolute;
    top: 5px;
    right: 5px;
    svg {
        height: 30px;
    }
}
