mat-toolbar {
    margin-left: 64px;
}

.mat-card {
    margin-top: 30px;
}

.prices {
    display: inline-block;
}

.allergen {
    display: inline-block;
}

.mat-card-content {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.mat-card-subtitle,
.mat-card-content {
    margin-bottom: 0 !important;
}

.mat-card-header {
    min-height: 100px;
}
.mat-card-header-text {
    margin: 0 !important;
}

.mat-card-image {
    position: relative;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
        flex-grow: 1;
        object-fit: cover;
    }
}

.packing {
    color: #aaa;
}

.MealType {
    position: absolute;
    transform: rotate(45deg);
    right: 4px;
    background-color: #ffd740;
    padding: 0 5px;
}

.heat {
    position: absolute;
    top: 5px;
    right: 5px;
    svg {
        height: 30px;
    }
}
