<div class="container">

    <mat-toolbar color="accent" *ngIf="isBeforeOpen">
        <span>Zatím není otevřeno ale můžete si objednat s vyzvednutím později</span>
    </mat-toolbar>

    <mat-toolbar color="accent" *ngIf="isClosedDay">
        <span>Dnes je zavřeno</span>
    </mat-toolbar>

    <mat-toolbar color="accent" *ngIf="isAfterClose">
        <span>Dnes už je zavřeno</span>
    </mat-toolbar>

    <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let item of menu |async">
            <mat-card>
                <div class="MealType" *ngIf="item.class === 'menu'">{{item.class}}</div>
                <mat-card-header>
                    <mat-card-title>{{item.name}} </mat-card-title>
                    <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.photo}}" *ngIf="item.photo">
                <img mat-card-image src="assets/nophoto.jpg" *ngIf="!item.photo">
                <mat-card-content>
                    <div class="prices">
                        Cena: {{item.price}} Kč
                        <span *ngIf="item.packaging" class="packing"> + obal {{item.packaging}} Kč</span>
                    </div>

                    <div *ngIf="item.allergen" class="allergen">
                        Alergen: {{item.allergen}}
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="pickSideDish(item,item.type)" [disabled]="!isOpen">Objednat</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>