/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-grid";
@import "./theme.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.cdk-overlay-pane {
    max-height: none;
}

.mat-dialog-actions {
    margin-bottom: -8px !important;
}

.orderButton .mat-button-wrapper {
    line-height: 14px !important;
    padding: 14px 0 !important;
}

.mat-radio-label {
    white-space: normal !important;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.hot {
    color: #ff5023;
}

.cold {
    color: #66f;
}
