.page {
    background-image: url("~/assets/background2.png");
    min-width: 100%;
    min-height: 100%;
    padding: 10px 0;
}
.center {
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
}

.logo {
    width: 400px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
}

.buttons {
    button {
        display: block;
        width: 200px;
        margin: 10px auto;
    }
}

.mat-radio-button {
    line-height: 51px;
    vertical-align: middle;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
