<div class="page">
    <img src="assets/logo curry house-stroke.svg" class="logo">
    <div class=" center">
        <h1>
            Pravá indická restaurace
        </h1>
        <h2>
            Jindřichův Hradec, <a href="https://goo.gl/maps/AxwVtizeE7XqFp6R9" target="_blank">Panská 95</a><br>
            Třeboň, <a href="https://goo.gl/maps/wQMz526dg4tyLHKi9" target="_blank">Krčínova 51</a>
        </h2>

        <p>
            <span [ngClass]="{'bold' : isOpen}">
                Otevřeno:
            </span>
            {{startDay}} až {{endDay}} {{openingTime}} - {{closingTime}}
            <br>

            <span [ngClass]="{'bold' : isMenu}">
                Polední menu:
            </span>
            (mimo svátky) {{startMenuDay}} - {{endMenuDay}}, {{openingMenuTime}} - {{closingMenuTime}}
        </p>

        <span class="storeInfo" *ngIf="isBeforeOpen">
            <p>Zatím není otevřeno ale můžete si objednat</p>
        </span>

        <span class="storeInfo" *ngIf="isClosedDay">
            <p>Dnes je zavřeno, ale můžete si prohlédnout nabídku</p>
        </span>

        <span class="storeInfo" *ngIf="isAfterClose">
            <p>Dnes už je zavřeno, ale můžete si prohlédnout nabídku</p>
        </span>

        <form [formGroup]="orderForm" *ngIf="(! isClosedDay || !isAfterClose) && AllowedOrderMethods.length >1">
            Chcete si objednat:
            <mat-radio-group formControlName="orderMethod" (change)="methodChange()">
                <mat-radio-button value="takeout">s sebou</mat-radio-button>
                <mat-radio-button value="restaurant">ke stolu</mat-radio-button>
            </mat-radio-group>
        </form>

        <app-location-pick></app-location-pick>

        <p>
            <small>
                Problémy a připomínky: <a href="mailto:muller.jan@gmail.com">muller.jan@gmail.com</a>
            </small>
        </p>
    </div>
</div>