.page {
    background-image: url("~/assets/background3.png");
    min-width: 100%;
    min-height: 100%;
}
.background {
    background-color: #fbe9b7;
    text-align: center;
    margin: 0 auto;
    max-width: 986px;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header {
    max-width: 100%;
}

.buttons {
    button {
        display: block;
        width: 200px;
        margin: 10px auto;
    }
}

.mat-radio-button {
    line-height: 51px;
    vertical-align: middle;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
