<div class="page">
    <img src="assets/logo-curry-house.png" class="logo">
    <div class=" center">
        <h1>
            Pravá indická restaurace
        </h1>
        <h2>
            Jindřichův Hradec<br>Panská 95
        </h2>

        <p>
            <span [ngClass]="{'bold' : isOpen}">
                Otevřeno:
            </span>
            {{startDay}} až {{endDay}} {{openingTime}} - {{closingTime}}
            <br>

            <span [ngClass]="{'bold' : isMenu}">
                Polední menu:
            </span>
            (mimo svátky) {{startMenuDay}} - {{endMenuDay}}, {{openingMenuTime}} - {{closingMenuTime}}
        </p>

        <span class="storeInfo" *ngIf="isBeforeOpen">
            <p>Zatím není otevřeno ale můžete si objednat</p>
        </span>

        <span class="storeInfo" *ngIf="isClosedDay">
            <p>Dnes je zavřeno, ale můžete si prohlédnout nabídku</p>
        </span>

        <span class="storeInfo" *ngIf="isAfterClose">
            <p>Dnes už je zavřeno, ale můžete si prohlédnout nabídku</p>
        </span>

        <form [formGroup]="orderForm" *ngIf="! isClosedDay || !isAfterClose">
            Chcete si objednat:
            <mat-radio-group formControlName="orderMethod" (change)="methodChange()">
                <mat-radio-button value="takeout">s sebou</mat-radio-button>
                <mat-radio-button value="restaurant">ke stolu</mat-radio-button>
            </mat-radio-group>
        </form>

        <div class="buttons">
            <button *ngFor="let class of mealClasses |async" mat-raised-button
                (click)="select(class.code)">{{class.name}}</button>
        </div>

        <p>
            <a href="https://indickarestaurace.cz/viewpage.php?page_id=20">indickarestaurace.cz</a>
            Problémy a připomínky: <a href="mailto:muller.jan@gmail.com">muller.jan@gmail.com</a>
        </p>
    </div>
</div>