<div class="background">
    <img src="../../assets/header.jpg" class="header">
    <h1>
        Indická restaurace Jindřichův Hradec Panská 95
    </h1>

    <p>
        <span [ngClass]="{'bold' : isOpen}">
            Otevřeno
        </span>
        s sebou: {{startDay}} až {{endDay}} {{openingTime}} - {{closingTime}}
    </p>
    <p>
        <span [ngClass]="{'bold' : isMenu}">
            Polední menu:
        </span>
        (mimo svátky)
        {{startMenuDay}} - {{endMenuDay}},
        {{openingMenuTime}} - {{closingMenuTime}}
    </p>
    <br>
</div>

<div class="buttons">

    <button *ngFor="let class of mealClasses" mat-raised-button (click)="select(class.code)">{{class.name}}</button>
</div>

<p>
    <a href="https://indickarestaurace.cz/viewpage.php?page_id=20">indickarestaurace.cz</a>
</p>
<p>
    Problémy a připomínky: <br> <a href="mailto:muller.jan@gmail.com">muller.jan@gmail.com</a>
</p>