.page {
    background-image: url("~/assets/background2.png");
    min-width: 100%;
    min-height: 100%;
}
.center {
    text-align: center;
    margin: 0 auto;
}

.logo {
    max-width: 400px;
}

.buttons {
    button {
        display: block;
        width: 200px;
        margin: 10px auto;
    }
}

.mat-radio-button {
    line-height: 51px;
    vertical-align: middle;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
