<h1 mat-dialog-title>Objednávka Polední menu</h1>

<mat-dialog-content>
    <p>
        Polední menu. Dostupné pouze Po-Pá: 10:30 - 15:00 (mimo svátky)
    </p>
    <p>
        <mat-chip-list #chipList class="mat-chip-list" ngClass="orderItems" aria-label="Seznam objednávaného jídla:">
            <mat-chip *ngFor="let item of order |async; let i = index" (removed)="remove(i)">{{item.name}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </p>

</mat-dialog-content>


<p>
    Jídlo které si objednáte si můžete vyzvednout až vám pošleme e-mail zpět. Vyplňte prosím Váš e-mail:
</p>

<form [formGroup]="usernameForm">
    <mat-form-field class="example-full-width">
        <mat-label>Váš email</mat-label>
        <input type="email" matInput formControlName="formUsername" placeholder="E-mail" autocomplete="username email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Poznámka (vyplňte, pokud nechcete jídlo hned, ale později)</mat-label>
        <input matInput formControlName="formComment">
    </mat-form-field>


    <mat-dialog-actions>
        <button mat-button [disabled]="!(order |async).length" (click)="onSubmit()">Objednat</button>
        <button mat-button (click)="checkClose()">
            Zrušit
        </button>
    </mat-dialog-actions>
</form>