.wide {
    width: 100% !important;
}

.mat-standard-chip {
    height: auto;
}

mat-radio-group {
    .mat-error {
        position: absolute;
        top: -9px;
    }
}

.mat-radio-button {
    line-height: 51px;
    vertical-align: middle;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
