<br>
<br>
<br>
<h1>
    Indická restaurace<br>
    Jindřichův Hradec<br>
    Panská 95
</h1>

<button [class.active]="(filterType |async) === 'menu'" mat-raised-button (click)="select('menu')">Menu</button>
<button [class.active]="(filterType |async) === 'soup'" mat-raised-button (click)="select('soup')">Polévky</button>
<button [class.active]="(filterType |async) === 'starter'" mat-raised-button (click)="select('starter')">Předkrmy</button>
<button [class.active]="(filterType |async) === 'tandoor'" mat-raised-button (click)="select('tandoor')">Indická pec</button>
<button [class.active]="(filterType |async) === 'chicken'" mat-raised-button (click)="select('chicken')">Kuřecí</button>
<button [class.active]="(filterType |async) === 'lamb'" mat-raised-button (click)="select('lamb')">Jehněčí</button>
<button [class.active]="(filterType |async) === 'pork'" mat-raised-button (click)="select('pork')">Vepřové</button>
<button [class.active]="(filterType |async) === 'vege'" mat-raised-button (click)="select('vege')">Vegetaritáni</button>
<button [class.active]="(filterType |async) === 'fish'" mat-raised-button (click)="select('fish')">Ryby, Krevety</button>
<button [class.active]="(filterType |async) === 'biryani'" mat-raised-button (click)="select('biryani')">Biryani, rýže</button>
<button [class.active]="(filterType |async) === 'side'" mat-raised-button (click)="select('side')">Samotné přílohy</button>