:host {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    background-image: url("/assets/background.png");
    background-color: #f7d66e;
    min-height: 100%;
}

button {
    margin: 0px 0 15px 0;
}

.active {
    background-color: #8bc34a;
}
.bold {
    font-weight: bold;
}